@charset "UTF-8";
/*
#-------------------------------------------------------------------------
# + Variables
#-------------------------------------------------------------------------
*/
/*
#-------------------------------------------------------------------------
# + Global Style
#-------------------------------------------------------------------------
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #F7F7F7 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
}

a,
a:hover,
a:focus {
  text-decoration: none !important;
  outline: 0;
}

a {
  color: #f43438;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover, a:focus {
  color: #666;
}

input,
select,
button,
textarea {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

body {
  background: #F7F7F7;
  height: 100%;
}

.pl-cpanel-wrapper {
  overflow: hidden;
  min-height: 100%;
}

.nobr {
  white-space: nowrap;
}

.pl-chart-content {
  font-size: 12px;
  line-height: 24px;
}

.pl-verified {
  left: 48px;
  top: 18px;
}

.myDragClass {
	background: #F7F7F7;
}

.world {
	/* width: 950px; */
	height: 400px;
	margin: 0 auto;
}
.pt-worldss {
	min-height: 300px
}

.pl-cpanel-newlang {

}

.pl-cpanel-newlang label {
	font-family: "Raleway";text-transform: capitalize;
	padding-left: 12px;
}
.pl-cpanel-newlang .pt-box {
	box-shadow: 0 0 4px #EEE;
	margin-bottom: 0px;
	padding: 0px;
	visibility: hidden;
	opacity: 0;
	max-height: 0px;
	overflow: hidden;
}
.pl-cpanel-newlang .pt-box.open {
	margin-bottom: 12px;
	padding: 12px;
	visibility:visible;
	opacity: 1;
	max-height: 100%;
}
.pl-cpanel-newlang .pt-title {
	background: #F7F7F7;
  box-shadow: 0 0 4px #DDD;
  margin-top: 12px;
  padding: 12px;
}

/*
#-------------------------------------------------------------------------
# + Sidebar
#-------------------------------------------------------------------------
*/
.pl-cpanel-sidebar {
  background: #FFF;
  float: left;
  width: 240px;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  box-shadow: 0 0 16px #DDD;
	position: fixed;
}
.pl-cpanel-sidebar .pl-cpanel-logo {
  padding: 24px 24px 30px 24px;
  border-bottom: 1px solid #F9F9F9;
  position: relative;
}
.pl-cpanel-sidebar .pl-cpanel-logo img {
  width: 100%;
}
.pl-cpanel-sidebar .pl-cpanel-logo p {
  margin: 0;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  right: 62px;
  color: #AAA;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
}
.pl-cpanel-sidebar .pl-cpanel-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li {
  position: relative;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li a {
  padding: 12px 24px;
  display: block;
  color: #888;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid #F9F9F9;
  font-weight: 200;
  position: relative;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li a i {
  margin-right: 6px;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li a small {
  position: absolute;
  left: 32px;
  top: 10px;
  border-radius: 50%;
  background: #f43438;
  color: #FFF;
  border: 1px solid #FFF;
  width: 14px;
  height: 14px;
  line-height: 13px;
  font-weight: 200;
  text-align: center;
  font-size: 6px;
  font-family: "Open Sans", sans-serif;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li a:hover {
  color: #f43438;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li .pl-side-drop {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 10px;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background: #F7F7F7;
  border-radius: 3px;
  cursor: pointer;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li .pl-side-drop.active {
  background: #f43438;
  color: #FFF;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li .pl-side-drop.active:before {
  content: "";
}
.pl-cpanel-sidebar .pl-cpanel-navigation li .dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 62px;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li .dropdown li a {
  color: #666;
  font-size: 12px;
  box-shadow: none;
  border: 0;
  padding: 6px 24px;
  border-bottom: 1px solid #EEE;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li .dropdown li a b {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  background: #FFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  float: right;
  font-weight: 200;
  margin-top: 2px;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li .dropdown.open {
  position: relative;
  visibility: visible;
  opacity: 1;
  top: 0;
}
.pl-cpanel-sidebar .pl-cpanel-navigation li.pl-selected a {
  border-left: 3px solid #f43438;
  box-shadow: 0px 0px 8px #EEE;
  color: #f43438;
  padding-left: 21px;
}

/*
#-------------------------------------------------------------------------
# + Navbar
#-------------------------------------------------------------------------
*/
.pl-cpanel-navbar {
  height: 68px;
  background: #FFF;
  box-shadow: 0 2px 5px #EEE;
  padding: 0 48px;
  margin-left: 240px;
}
.pl-cpanel-navbar .pl-row {
  height: 68px;
}

/*
#-------------------------------------------------------------------------
# + Page: New page
#-------------------------------------------------------------------------
*/
.pl-cpanel-newpage .pl-wysibb-body {
  min-height: 240px !important;
}

/*
#-------------------------------------------------------------------------
# + Page: Setting
#-------------------------------------------------------------------------
*/
.pl-cpanel-setting textarea {
  height: 80px;
  padding: 8px 12px;
}
.pl-cpanel-setting .cp-form-title {
  font-size: 22px;
  border-bottom: 1px solid #EEE;
  padding: 0 0 12px;
  margin: 24px 0 15px 0;
  color: #000;
  font-weight: 700;
}
.pl-cpanel-setting .pl-row {
  margin-bottom: 15px;
}

/*
#-------------------------------------------------------------------------
# + Page: Dashboard
#-------------------------------------------------------------------------
*/
.pl-cpanel-dashboard .pt-charts {
  padding: 12px;
  box-shadow: 0 0 10px #EEE;
  margin: 12px 0;
}
.pl-cpanel-dashboard .pt-charts .pt-adminlines a,
.pl-cpanel-dashboard .pt-charts .pt-adminbars a {
  display: inline-block;
  font-size: 12px;
  width: 50px;
  background: #EEE;
  text-align: center;
  border-radius: 5px;
  color: #777;
  /* box-shadow: 0 0 3px #0000003b; */
  border: 1px solid #EEE;
	margin-bottom: 12px;
}
.pl-cpanel-dashboard .pt-charts .pt-adminlines a:hover,
.pl-cpanel-dashboard .pt-charts .pt-adminbars a:hover {
  background: #FFF;
  border: 1px solid #EEE;
	box-shadow: 0 0 3px #DDD inset;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  height: 100%;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul:before, .pl-cpanel-dashboard .pl-cpanel-statistics ul:after {
  content: "";
  display: table;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul:after {
  clear: both;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li {
  float: left;
  padding: 21px 24px 12px 24px;
  border-radius: 3px;
  width: 223px;
  margin-right: 33px;
  margin-bottom: 24px;
  height: 90px;
  color: #FFF;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.13);
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li:nth-child(4), .pl-cpanel-dashboard .pl-cpanel-statistics ul li:nth-child(8) {
  margin-right: 0;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li b {
  display: block;
  font-size: 25px;
  margin-top: 3px;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li i {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #FFF;
  border: 2px solid #EEE;
  box-shadow: 0 0 0 4px #FFF;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  line-height: 44px;
  margin-right: 12px;
  float: left;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li.bg-6 i {
  color: #f1c40f;
  border-color: #f1c40f;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li.bg-2 i {
  color: #2ecc71;
  border-color: #2ecc71;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li.bg-3 i {
  color: #3498db;
  border-color: #3498db;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li.bg-4 i {
  color: #9b59b6;
  border-color: #9b59b6;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li.bg-5 i {
  color: #34495e;
  border-color: #34495e;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li.bg-7 i {
  color: #e67e22;
  border-color: #e67e22;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li.bg-8 i {
  color: #e74c3c;
  border-color: #e74c3c;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li.bg-11 i {
  color: #1FA6D5;
  border-color: #1FA6D5;
}
.pl-cpanel-dashboard .pl-cpanel-statistics ul li.bg-13 i {
  color: #FC4C7D;
  border-color: #FC4C7D;
}
.pl-cpanel-dashboard .pl-cpanel-latest {
  border: 1px solid #F7F7F7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  padding: 12px;
  margin-top: 24px;
}
.pl-cpanel-dashboard .pl-cpanel-latest h3 {
  font-size: 18px;
  padding: 12px 0;
  margin: 0;
}
.pl-cpanel-dashboard .pl-cpanel-latest h3 span {
  display: inline-block;
  float: right;
  font-size: 11px;
  color: #FFF;
  background: #f64638;
  min-width: 22px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 10px;
}
.pl-cpanel-dashboard .pl-cpanel-latest ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow: auto;
}
.pl-cpanel-dashboard .pl-cpanel-latest ul:before, .pl-cpanel-dashboard .pl-cpanel-latest ul:after {
  content: "";
  display: table;
}
.pl-cpanel-dashboard .pl-cpanel-latest ul:after {
  clear: both;
}
.pl-cpanel-dashboard .pl-cpanel-latest ul li {
  border-top: 1px solid #F7F7F7;
  padding: 12px 0 8px 0;
  border-color: #F7F7F7;
}
.pl-cpanel-dashboard .pl-cpanel-latest ul li .pl-thumb {
  width: 38px;
  height: 38px;
  overflow: hidden;
  background: #EEE;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.pl-cpanel-dashboard .pl-cpanel-latest ul li .pl-thumb img {
  width: 100%;
  min-height: 100%;
}
.pl-cpanel-dashboard .pl-cpanel-latest ul li .pl-title {
  font-size: 12px;
  color: #111;
}
.pl-cpanel-dashboard .pl-cpanel-latest ul li .pl-cmt-content {
  font-size: 12px;
  color: #666;
}
.pl-cpanel-dashboard .pl-cpanel-latest ul li .pl-votes {
  font-size: 12px;
}

/*
#-------------------------------------------------------------------------
# + Page: Comments
#-------------------------------------------------------------------------
*/
.pl-cpanel-comments .table h3 {
  font-size: 14px;
  margin: 5px 0 6px 0;
  font-weight: 700;
}
.pl-cpanel-comments .table h3 a {
  font-size: 100%;
}
.pl-cpanel-comments .table p {
  margin: 0;
  line-height: 22px;
}
.pl-cpanel-comments .table p i {
  margin: 0 3px 0 12px;
  font-size: 85%;
}
.pl-cpanel-comments .table p i:first-of-type {
  margin-left: 0;
}
.pl-cpanel-comments .table p span {
  display: inline-block;
  min-width: 166px;
  border-right: 1px solid #EEE;
  margin-right: 12px;
}
.pl-cpanel-comments .table .pl-thumb {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.pl-cpanel-comments .table .pl-thumb img {
  width: 100%;
  min-height: 48px;
}

/*
#-------------------------------------------------------------------------
# + Page: Categories
#-------------------------------------------------------------------------
*/
.pl-cpanel-categories .pl-thumb {
  width: 38px;
  height: 38px;
  line-height: 42px;
  background: #EEE;
  border-radius: 50%;
  box-shadow: 0 1px 3px #EEE;
  text-align: center;
}
.pl-cpanel-categories .pl-thumb i {
  color: #FFF;
  font-size: 18px;
}
.pl-cpanel-categories .pl-title {
  font-size: 16px;
  margin: 1px 0 0 0;
}
.pl-cpanel-categories .pl-title a {
  color: #000;
}


.pl-cpanel-payments .badge {
	width: 48px !important;
	color: #FFF
}

.pl-cpanel-credits .badge {
	width: 48px !important;
	color: #FFF
}

/*
#-------------------------------------------------------------------------
# + Page: Subscribers
#-------------------------------------------------------------------------
*/
.pl-cpanel-subscribers .pl-title {
  font-size: 16px;
  margin: 1px 0 0 0;
}
.pl-cpanel-subscribers .pl-title a {
  color: #000;
}

/*
#-------------------------------------------------------------------------
# + Page: Members
#-------------------------------------------------------------------------
*/
.pl-cpanel-members .pl-thumb {
  width: 48px;
  height: 48px;
  overflow: hidden;
  background: #EEE;
  border-radius: 50%;
  box-shadow: 0 1px 3px #EEE;
}
.pl-cpanel-members .pl-thumb img {
  width: 100%;
  min-height: 48px;
}
.pl-cpanel-members .pl-title {
  font-size: 16px;
  margin: 5px 0 3px 0;
}
.pl-cpanel-members .pl-title a {
  color: #000;
}
.pl-cpanel-members .media-body {
  position: relative;
}
.pl-cpanel-members .pl-chart {
  position: absolute;
  right: 0;
  top: 12px;
  display: block;
  cursor: pointer;
  width: 24px;
  text-align: center;
  outline: 0;
}
.pl-cpanel-members .bg-banned .pl-title {
  text-decoration: line-through;
}

/*
#-------------------------------------------------------------------------
# + Page: Questions
#-------------------------------------------------------------------------
*/
.pl-cpanel-questions .pl-thumb {
  width: 48px;
  height: 48px;
  overflow: hidden;
  background: #EEE;
  border-radius: 3px;
  box-shadow: 0 1px 3px #EEE;
}
.pl-cpanel-questions .pl-thumb img {
  width: 100%;
  min-height: 48px;
}
.pl-cpanel-questions .pl-title {
  font-size: 16px;
  margin: 5px 0 3px 0;
}
.pl-cpanel-questions .pl-title a {
  color: #000;
}
.pl-cpanel-questions .media-body {
  position: relative;
}
.pl-cpanel-questions .media-body small a {
  font-size: inherit;
}
.pl-cpanel-questions .media-body small i {
  margin: 0 3px 0 12px;
}
.pl-cpanel-questions .media-body small i:first-of-type {
  margin-left: 0;
}
.pl-cpanel-questions .pl-chart {
  position: absolute;
  right: 0;
  top: 12px;
  display: block;
  cursor: pointer;
  width: 24px;
  text-align: center;
  outline: 0;
}
.pl-cpanel-questions .bg-banned .pl-title {
  text-decoration: line-through;
}

.cp-stats-h5 {
  border-bottom: 1px solid #EEE;
  padding-bottom: 6px;
  margin-bottom: 12px;
  margin-top: 48px;
}

.sceditor-container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  border: 1px solid #EEE !important;
}

.sceditor-toolbar {
  text-align: center;
  display: table;
  margin: auto !important;
  border: 0;
  background: #FFF !important;
  padding: 10px 8px 10px 12px !important;
  border-bottom: 1px solid #EEE !important;
}

div.sceditor-group {
  background: transparent !important;
  border: 1px solid #dcdcdc;
  padding: 2px 0 2px 2px !important;
}

a.sceditor-button {
  padding: 0;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 26px;
  background: #FFF;
  border-radius: 3px;
  margin-right: 2px;
}

.sceditor-button.active, .sceditor-button:active, .sceditor-button:hover {
  background: #F7F7F7 !important;
  box-shadow: 0 0 1px #00000030 inset !important;
  -webkit-box-shadow: 0 0 1px #00000030 inset !important;
}

.sceditor-container iframe, .sceditor-container textarea {
  margin: 10px !important;
}

.iconpicker-popover.in {
  opacity: 1;
  background: #FFF;
  border: 1px solid #E7E7E7;
}

.iconpicker-popover.popover .popover-title {
  padding: 2px;
  background: #FFF;
}

.iconpicker-popover.popover > .arrow {
  border-bottom-color: #E7E7E7 !important;
}

.iconpicker .iconpicker-item {
  margin: 0 9px 12px 0;
}

.sp-replacer {
  margin: 6px 0 12px 0 !important;
}

/*
#-------------------------------------------------------------------------
# + Main Page
#-------------------------------------------------------------------------
*/
.pl-cpanel-main {
  padding: 48px;
  margin-left: 240px;
}
.pl-cpanel-main .pl-cpanel-heading {
  padding-bottom: 24px;
  height: 74px;
  overflow: hidden;
}
.pl-cpanel-main .pl-cpanel-heading .pl-cpanel-title h3 {
  margin: 0 0 4px 0;
  font-size: 22px;
}
.pl-cpanel-main .pl-cpanel-heading .pl-cpanel-title h3 i {
  float: left;
  margin-right: 8px;
}
.pl-cpanel-main .pl-cpanel-heading .pl-cpanel-title p {
  margin: 0;
  font-size: 13px;
  color: #999;
  font-weight: 200;
}
.pl-cpanel-main .pl-cpanel-box {
  background: #FFF;
  box-shadow: 0 2px 8px #E7E7E7;
  padding: 48px;
}
.pl-cpanel-main table {
  background: #FFF;
  box-shadow: 0 2px 8px #E7E7E7;
}
.pl-cpanel-main table th {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}
.pl-cpanel-main table thead th {
  background: #EEE;
}
.pl-cpanel-main table td {
  vertical-align: middle;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  color: #777;
  position: relative;
}
.pl-cpanel-main table td a {
  color: #000;
  font-size: 14px;
}
.pl-cpanel-main table td .badge {
  padding: 4px 6px;
  border-radius: 10px;
  width: 32px;
}
.pl-cpanel-main table td .badge-success {
	background-color: #60deb5;
}
.pl-cpanel-main table td .badge-danger {
	background-color: #ff828e;
}
.pl-cpanel-main table td .pl-options {
  width: 28px;
  height: 24px;
  display: inline-block;
  line-height: 26px;
  text-align: center;
  border-radius: 3px;
}
.pl-cpanel-main table td .pl-options.active {
  background: #F7F7F7;
  color: #777;
  box-shadow: inset 2px -2px 3px #EEE;
}
.pl-cpanel-main table td .dropdown {
  position: absolute;
  background: #FFF;
  box-shadow: 0 0 3px #EEE;
  z-index: 2;
  right: 20px;
  margin: 0;
  padding: 6px;
  list-style: none;
  min-width: 132px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.pl-cpanel-main table td .dropdown.open {
  visibility: visible;
  opacity: 1;
  right: 12px;
}
.pl-cpanel-main table td .dropdown li a {
  display: block;
  padding: 6px 12px;
  border-bottom: 1px solid #F9F9F9;
  font-size: 12px;
  white-space: nowrap;
}
.pl-cpanel-main table td .dropdown li a i {
  margin-right: 6px;
}
.pl-cpanel-main table td .dropdown li a:hover {
  background: #F7F7F7;
  border-radius: 3px;
  color: #777;
}
.pl-cpanel-main table td .dropdown li:last-child a {
  border: 0;
}
.pl-cpanel-main table tr:last-child .dropdown {
  bottom: 52px;
}

/*
#-------------------------------------------------------------------------
# + Responsive
#-------------------------------------------------------------------------
*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .pl-cpanel-sidebar {
    width: 56px;
    position: fixed;
  }
  .pl-cpanel-sidebar .pl-cpanel-logo {
    padding: 10px 0;
    width: 29px;
    overflow: hidden;
    margin: auto;
  }
  .pl-cpanel-sidebar .pl-cpanel-logo img {
    width: 124px;
  }
  .pl-cpanel-sidebar .pl-cpanel-navigation li a {
    font-size: 0;
    height: 40px;
    line-height: 40px;
		padding: 6px 24px;
  }
  .pl-cpanel-sidebar .pl-cpanel-navigation li a i {
    font-size: 16px;
  }
  .pl-cpanel-sidebar .pl-cpanel-navigation li .pl-side-drop {
    display: none;
  }
	.pl-cpanel-plans .col-6,
	.pl-cpanel-dashboard .col-6,
	.pl-cpanel-dashboard .col-4,
	.pl-cpanel-dashboard .col-8 {
		float: none;
		width: 100%;
		flex: none;
    max-width: 100%;
	}
	.world {
    height: 220px;
}
.pt-worldss {
    min-height: 220px;
}

  .pl-cpanel-navbar,
.pl-cpanel-main {
    padding: 0 24px;
    margin-left: 56px;
  }

  .pl-cpanel-main .pl-cpanel-heading {
    margin-top: 24px;
  }
  .pl-cpanel-main .pl-cpanel-heading .pl-cpanel-title h3 {
    font-size: 15px;
  }
  .pl-cpanel-main .pl-cpanel-heading .pl-cpanel-title p {
    font-size: 11px;
  }
  .pl-cpanel-main .pl-cpanel-heading .pl-buttons {
    font-size: 0;
    height: 32px;
    width: 32px;
    line-height: 42px;
    padding: 0;
    text-align: center;
  }
  .pl-cpanel-main .pl-cpanel-heading .pl-buttons i {
    font-size: 14px;
    margin: 0;
  }
  .pl-cpanel-main .pl-cpanel-box {
    padding: 24px;
  }
  .pl-cpanel-main table td, .pl-cpanel-main table th {
    display: block;
    width: 100%;
    text-align: center;
  }
  .pl-cpanel-main table td:last-of-type {
    border-bottom: 2px solid #EEE;
  }

  .pl-cpanel-dashboard .pl-cpanel-statistics {
    overflow: hidden;
  }
  .pl-cpanel-dashboard .pl-cpanel-statistics ul {
    margin-left: -13px;
    padding-left: 13px;
  }
  .pl-cpanel-dashboard .pl-cpanel-statistics ul li {
    padding: 11px 12px 12px 15px;
    width: 48%;
    margin: 0px 2px 5px 2px;
    height: 98px;
    font-size: 12px;
    text-align: center;
  }
  .pl-cpanel-dashboard .pl-cpanel-statistics ul li b {
    font-size: 22px;
    margin-top: 9px;
  }
  .pl-cpanel-dashboard .pl-cpanel-statistics ul li i {
    width: 28px;
    height: 28px;
    font-size: 16px;
    line-height: 25px;
    margin-right: 12px;
    float: none;
    margin: auto;
    display: block;
  }
  .pl-cpanel-dashboard .pl-col-4 {
    width: 100%;
    float: none;
  }
}

/*# sourceMappingURL=cpanel.css.map */
